@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap');
@import "tailwindcss";
*{
  font-family: "Outfit", sans-serif;
}

/* ::-webkit-scrollbar is a CSS pseudo-element for styling scrollbars in WebKit browsers (Chrome, Safari, Edge).
Tailwind CSS does not have built-in utilities for hiding scrollbars by default, so you need custom CSS like this. */

::-webkit-scrollbar{
  display:none;
}